.slider {
    display: flex;
    padding-top: 60px;
    position: relative;
    width: 100vw;
    gap: 32px;
    height: auto;
}

.movie {
    width: 176px;
    height: 234px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.3s ease;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.movie.active {
    transform: translateY(-20%);
}

.movie.inactive {
    filter: grayscale(100%);
}

.movie img.movie-image {
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 8px;
}

.slider-container {
    display: flex;
    align-items: center;
}