.genre-filter {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 3%;
  padding: 0 5%;
  margin-top: 4%;
}

.genre-button {
  padding: 10px 15px;
  font-size: 14px;
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.genre-button:hover {
  background-color: #f5c51c;
  color: #2e2e2e;
}

.genre-button.selected {
  background-color: #f5c51c;
  color: white;
  border-color: #f5c51c;
}
